body {
	text-align: center;
}

header {
	border: 3px solid #ffffff;
	background-position: center top;
	background-size: 300px 100px;
}

*,*:before,*:after {
	box-sizing: inherit;
}

html {
	background: lightpink;

}
nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline;
	padding: 10px 0 100px 0;
	margin: 100px;
}

span {
	float:right;
}

.icon {
	width: 30px;
}

html {
	box-sizing: border-box;
}

li, h2 {
	transition: color ls;
}

li:hover, h2:hover {
	color: #ffffff
}

h1 {
	text-align: center;
	color: #ffffff;
}

h2, p {
	text-align: center;
}
