nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline;
	border: 1px solid grey;
	padding: ;
}

span {
	float:right;
}

.icon {
	width: 30px;
}

p {
	margin:30%;
}

html {
	box-sizing: border-box;
}